@layer components {
  /* Layout compositions */
  .flex-layout {
    @apply flex items-center;
  }

  .center-layout {
    @apply w-full mx-auto px-container-px;
  }

  .grid-layout {
    display: grid;
    grid-template-columns:
      minmax(0, 1fr)
      min(65ch, 100%)
      minmax(0, 1fr);
    gap: var(--gutter);
  }

  .grid-layout > * {
    grid-column: 2;
  }
}

/* View transition styles */
@layer base {
  ::view-transition-group(header) {
    @apply z-sticky;
  }

  ::view-transition-group(sidebar) {
    @apply z-sidebar;
  }

  ::view-transition-group(footer) {
    @apply z-base;
  }

  ::view-transition-group(resume-content),
  ::view-transition-group(resume-details) {
    @apply z-base; /* Keep resume content at the back during transitions */
  }

  /* Add transitions for theme changes */
  body,
  body *:not(script):not(style) {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
  }
}
