---
const { text, link, currentPath } = Astro.props;
const isActive = currentPath === link;
---

<a
  href={link}
  class={`flex items-center px-3 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 ${
    isActive ? 'bg-gray-100 text-gray-900' : ''
  }`}
>
  <slot />
  <span class="ml-3">{text}</span>
</a>