---
import Profile from './Profile.astro';
import Notifications from './Notifications.astro';
import Stats from './Stats.astro';
import Navigation from './Navigation.astro';
import SocialMedia from './SocialMedia.astro';

const GHData = import.meta.env.GH_DATA;
const lineCount = import.meta.env.LINE_COUNT;
const currentPath = Astro.url.pathname;

const { request, settings, data } = Astro.props;
---

<aside class="flex flex-col p-4 bg-white border border-b-0 border-gray-200 w-fixed print:hidden">
  <div class="flex hidden font-light min-h-[3.5rem] sm:inline animate-pulse">
    <span class="font-extrabold underline">></span> ⱧɆⱠⱠØ ₩ØⱤⱠĐ!
  </div>

  <div class="flex items-center justify-between px-4 py-3 sm:text-center sm:flex-col">
    <Profile name="Chris Phan" location="Texas, USA">
      <img class="object-cover w-full h-full" src={`me.jpg`} alt="Me" />
    </Profile>

    <Notifications class="relative inline-block sm:hidden" data={GHData} />
  </div>

  <div class="hidden sm:inline">
    <hr class="mt-6 mb-6 border-gray-300" />

    <Stats code={lineCount} cat="1" />

    <hr class="mt-6 mb-6 border-gray-300" />
  </div>

  <Navigation currentPath={currentPath} />

  <SocialMedia />
</aside>